@{
    Layout = "~/Views/Shared/Dash_Layout.cshtml";
}

@model BidMyCar.Models.Profile

@Html.Raw(ViewBag.InsertMessage)

<!-- Start Breadcrumbs -->
<div class="breadcrumbs mt-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Create Dealership Profile</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a class="previous" href="/Profile/Dashboard">Dashboard</a></li>
                    <li>New Dealership Profile</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<section class="dashboard section">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-body">
            <div class="dashboard-sidebar">
                <div class="user-image">
                    <img src="~/Content/images/avatars/image1.jpg" alt="#">
                    <h3>
                        Adrian Etenyi
                        <span><a href="javascript:void(0)">nairdaee</a></span>
                    </h3>

                </div>
                <div class="dashboard-menu">
                    <ul>
                        <li><a href="/Profile/Dashboard"><i class="lni lni-dashboard"></i> Dashboard</a></li>
                        <li>
                            <a class="active" href="/Profile/ProfileSettings"><i class="lni lni-pencil-alt"></i> Edit Profile</a>
                        </li>
                        <li>
                            <a href="/Profile/MyItems">
                                <i class="lni lni-bolt-alt"></i> My Cars
                            </a>
                        </li>
                        <li>
                            <a href="/Profile/PostItem">
                                <i class="lni lni-circle-plus"></i> Post An
                                Ad
                            </a>
                        </li>
                        <li>
                            <a href="/Profile/BookmarkedItems">
                                <i class="lni lni-bookmark"></i> Favorite Cars
                            </a>
                        </li>
                    </ul>
                    <div class="button">
                        <a class="btn" href="javascript:void(0)">Logout</a>
                        <button type="button" class="btn close-offcanvas" data-bs-dismiss="offcanvas" aria-label="Close"><i class="lni lni-chevron-left mr-5"></i>Collapse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-12">
                <div class="main-content">
                    <!-- Start Profile Settings Area -->
                    <div class="dashboard-block mt-0 profile-settings-block">
                        <h3 class="block-title">Your Dealership Profile</h3>
                        <div class="inner-block">
                            <div class="image">
                                <img src="https://via.placeholder.com/300x300" alt="#">
                            </div>

                            <!--Dealership form-->

                            @using (Html.BeginForm("Dealership", "Profile", FormMethod.Post, new { @class = "profile-setting-form" }))
                            {
                                <div class="row">


                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Official Dealership Name*</label>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", type = "text", required = "required" })

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Location*</label>
                                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control", type = "text", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Username*</label>
                                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", type = "text", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Email Address*</label>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "text", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group upload-image">
                                            <label>Dealership Logo*</label>
                                            <input type="file" name="image" id="txtLogo" required="required" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group message">
                                            <label>About Dealership*</label>
                                            @Html.TextAreaFor(m => m.Bio, new { @class = "form-control", cols = "40", rows = "10" })
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group message">
                                            <label>Website url*</label>
                                            @Html.TextBoxFor(m => m.WebsiteUrl, new { @class = "form-control", type = "url", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group message">
                                            <label>Instagram</label>
                                            @Html.TextBoxFor(m => m.Instagram, new { @class = "form-control", type = "url" })
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group message">
                                            <label>Twitter</label>
                                            @Html.TextBoxFor(m => m.Twitter, new { @class = "form-control", type = "url" })
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group message">
                                            <label>Youtube</label>
                                            @Html.TextBoxFor(m => m.Youtube, new { @class = "form-control", type = "url" })
                                        </div>
                                    </div>

                                    @Html.Hidden("UserType", "dealership")

                                    <div class="col-12">
                                        <div class="form-group button mb-0">
                                            <button type="submit" class="btn ">Create Profile</button>
                                        </div>
                                    </div>
                                </div>
                            }

                            <!--End of form-->
                        </div>
                    </div>
                    <!-- End Profile Settings Area -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========================= dashboard icon ========================= -->
<a data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" class="dashboard-icon btn-hover">
    <svg data-bs-placement="top" data-bs-toggle="tooltip" data-bs-html="true" title="<b>Dashboard</b>" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="75" height="75" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m9.25 0h-7.5c-.965 0-1.75.785-1.75 1.75v4.5c0 .965.785 1.75 1.75 1.75h7.5c.965 0 1.75-.785 1.75-1.75v-4.5c0-.965-.785-1.75-1.75-1.75z" fill="#016a5a" data-original="#000000" style="" class="" /><path d="m9.25 10h-7.5c-.965 0-1.75.785-1.75 1.75v10.5c0 .965.785 1.75 1.75 1.75h7.5c.965 0 1.75-.785 1.75-1.75v-10.5c0-.965-.785-1.75-1.75-1.75z" fill="#016a5a" data-original="#000000" style="" class="" /><path d="m22.25 16h-7.5c-.965 0-1.75.785-1.75 1.75v4.5c0 .965.785 1.75 1.75 1.75h7.5c.965 0 1.75-.785 1.75-1.75v-4.5c0-.965-.785-1.75-1.75-1.75z" fill="#016a5a" data-original="#000000" style="" class="" /><path d="m22.25 0h-7.5c-.965 0-1.75.785-1.75 1.75v10.5c0 .965.785 1.75 1.75 1.75h7.5c.965 0 1.75-.785 1.75-1.75v-10.5c0-.965-.785-1.75-1.75-1.75z" fill="#016a5a" data-original="#000000" class="" /></g></g></svg>
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
        <span class="visually-hidden">New alerts</span>
    </span>
</a>