@{
    ViewBag.Title = "Password Reset| BidMyCar";
}
@model BidMyCar.Models.resetPassword
@Html.Raw(ViewBag.InsertMessage)

<!-- start login section -->
<section class="login section pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                <div class="form-head">
                    <h4 class="title">Reset password</h4>



                    @using (Html.BeginForm("ResetPassword", "Authentication", FormMethod.Post))
                    {
                        //error message
                        // Display any error messages
                        if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                        }

                        //Display any success messages
                        if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
                        {
                            <div class="alert alert-success">@ViewBag.SuccessMessage</div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-floating mb-3">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Enter your password" })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            <label for="id_email">New Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Enter your password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            <label for="id_email">Confirm Password</label>
                        </div>

                        <div class="form-floating mb-3">
                            @Html.HiddenFor(a => a.resetCode)
                        </div>

                        <div class="button">
                            <button type="submit" class="btn">Reset Password</button>
                        </div>

                    }


                </div>
            </div>
        </div>
    </div>
</section>
<!-- end login section -->
