<!-- Start Search Content-->
<section class="category-page section pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="category-sidebar">
                    <!-- Start Single Widget -->
                    <div class="single-widget search">
                        <h3>Search Model</h3>
                        <form action="#">
                            <input type="text" placeholder="Enter car model...">
                            <button type="submit"><i class="lni lni-search-alt"></i></button>
                        </form>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget">
                        <h3>All Categories</h3>
                        <ul class="list">
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-hammer"></i> Live auctions<span>15</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-dollar"></i> For Sale <span>20</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-calendar"></i> Rentals <span>55</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-home"></i> Used Cars <span>35</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-star"></i> Brand New <span>60</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-home"></i> Assembled Locally <span>55</span></a>
                            </li>
                            <!-- <li>
                               <a href="javascript:void(0)"><i class="lni lni-diamond-alt"></i> Jewelry & Accessories
                                   <span>45</span></a>
                               </li> -->
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget range">
                        <h3>Price Range</h3>
                        <input type="range" class="form-range" name="range" step="5000" min="10000" max="20000000"
                               value="10000" onchange="rangePrimary.value=value">
                        <div class="range-inner">
                            <label class="mr-10">KES</label>
                            <input type="text" id="rangePrimary" placeholder="10000" />
                        </div>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget condition">
                        <h3>Condition</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                            <label class="form-check-label" for="flexCheckDefault1">
                                All
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                            <label class="form-check-label" for="flexCheckDefault2">
                                New
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                            <label class="form-check-label" for="flexCheckDefault3">
                                Used
                            </label>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="category-grid-list">
                    <div class="row">
                        <div class="col-12">
                            <div class="category-grid-topbar">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <h3 class="title">Showing 1-6 of 6 ads found</h3>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <button title="Show Grid" class="nav-link active" id="nav-grid-tab"
                                                        data-bs-toggle="tab" data-bs-target="#nav-grid" type="button"
                                                        role="tab" aria-controls="nav-grid" aria-selected="true">
                                                    <i class="lni lni-grid-alt"></i>
                                                </button>
                                                <button title="Show  List" class="nav-link" id="nav-list-tab" data-bs-toggle="tab"
                                                        data-bs-target="#nav-list" type="button" role="tab"
                                                        aria-controls="nav-list" aria-selected="false">
                                                    <i class="lni lni-list"></i>
                                                </button>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-grid" role="tabpanel"
                                     aria-labelledby="nav-grid-tab">
                                    <!-- Start Items Grid Area -->
                                    <!--<section class="items-grid">
        <div class="container">
            <div class="single-head">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    <div class="col-lg-6 col-md-6 col-12">-->
                                    <!-- Start Single Grid -->
                                    <!--<div class="single-grid wow fadeInUp" data-wow-delay=".2s">
        <div class="image">
            <a href="item-details.html" class="thumbnail"><img src="~/Content/images/cars/Bentley.jpg" alt="#"></a>
            <div class="author">
                <div class="author-image">
                    <a href="javascript:void(0)">
                        <img src="https://via.placeholder.com/100x100" alt="#">
                        <span>Juma Mwanza</span>
                    </a>
                </div>
                <p class="sale">For Sale</p>
            </div>
        </div>
        <div class="content">
            <div class="top-content">
                <a href="javascript:void(0)" class="tag">New, Assembled locally</a>
                <h3 class="title">
                    <a href="item-details.html">2022 Bentley Bentayga</a>
                </h3>
                <p class="update-time">Last Updated: 4 hours ago</p>
                <ul class="rating">
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><a href="javascript:void(0)">(35)</a></li>
                </ul>
                <ul class="info-list">
                    <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> Mombasa, KE</a></li>
                    <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> Apr 12, 2023</a></li>
                </ul>
            </div>
            <div class="bottom-content">
                <p class="price">Starting Price: <span>KES 9,500,000</span></p>
                <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
            </div>
        </div>
    </div>-->
                                    <!-- End Single Grid -->
                                    <!--</div>
    <div class="col-lg-6 col-md-6 col-12">-->
                                    <!-- Start Single Grid -->
                                    <!--<div class="single-grid wow fadeInUp" data-wow-delay=".4s">
        <div class="image">
            <a href="item-details.html" class="thumbnail"><img src="~/Content/images/cars/X5M.jpg" alt="#"></a>
            <div class="author">
                <div class="author-image">
                    <a href="javascript:void(0)">
                        <img src="https://via.placeholder.com/100x100" alt="#">
                        <span>Thomas Deco</span>
                    </a>
                </div>
                <p class="sale">Rental</p>
            </div>
            <p class="item-position"><i class="lni lni-bolt"></i> Featured</p>
        </div>
        <div class="content">
            <div class="top-content">
                <a href="javascript:void(0)" class="tag">Rental Cars</a>
                <h3 class="title">
                    <a href="item-details.html">2021 BMW X5 M Competition</a>
                </h3>
                <p class="update-time">Last Updated: 5 hours ago</p>
                <ul class="rating">
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><a href="javascript:void(0)">(35)</a></li>
                </ul>
                <ul class="info-list">
                    <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> Nakuru, KE</a></li>
                    <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> May 25, 2023</a></li>
                </ul>
            </div>
            <div class="bottom-content">
                <p class="price">Starts From: <span>KES 5,000/day</span></p>
                <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
            </div>
        </div>
    </div>-->
                                    <!-- End Single Grid -->
                                    <!--</div>
    <div class="col-lg-6 col-md-6 col-12">-->
                                    <!-- Start Single Grid -->
                                    <!--<div class="single-grid wow fadeInUp" data-wow-delay=".6s">
        <div class="image">
            <a href="item-details.html" class="thumbnail"><img src="~/Content/images/cars/landrover.jpg" alt="#"></a>
            <div class="author">
                <div class="author-image">
                    <a href="javascript:void(0)">
                        <img src="https://via.placeholder.com/100x100" alt="#">
                        <span>Jonson Kuria</span>
                    </a>
                </div>
                <p class="sale">For Sale</p>
            </div>
        </div>
        <div class="content">
            <div class="top-content">
                <a href="javascript:void(0)" class="tag">On Sale</a>
                <h3 class="title">
                    <a href="item-details.html">2022 Range Rover Autobiography</a>
                </h3>
                <p class="update-time">Last Updated: 7 hours ago</p>
                <ul class="rating">
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><a href="javascript:void(0)">(20)</a></li>
                </ul>
                <ul class="info-list">
                    <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> Nairobi, KE</a></li>
                    <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> Feb 18, 2023</a></li>
                </ul>
            </div>
            <div class="bottom-content">
                <p class="price">Starting Price: <span>KES 3,450,000</span></p>
                <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
            </div>
        </div>
    </div>-->
                                    <!-- End Single Grid -->
                                    <!--</div>
    <div class="col-lg-6 col-md-6 col-12">-->
                                    <!-- Start Single Grid -->
                                    <!--<div class="single-grid wow fadeInUp" data-wow-delay=".2s">
        <div class="image">
            <a href="~/CarDetails/ItemDetails" class="thumbnail"><img src="~/Content/images/cars/e63s.jpg" alt="#"></a>
            <div class="author">
                <div class="author-image">
                    <a href="javascript:void(0)">
                        <img src="https://via.placeholder.com/100x100" alt="#">
                        <span>Juma Mwanza</span>
                    </a>
                </div>
                <p class="sale">For Sale</p>
            </div>
        </div>
        <div class="content">
            <div class="top-content">
                <a href="javascript:void(0)" class="tag">New, Assembled locally</a>
                <h3 class="title">
                    <a href="~/CarDetails/ItemDetails">2022 BMW M8 Competition Gran Coupe</a>
                </h3>
                <p class="update-time">Last Updated: 4 hours ago</p>
                <ul class="rating">
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><a href="javascript:void(0)">(35)</a></li>
                </ul>
                <ul class="info-list">
                    <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> Mombasa, KE</a></li>
                    <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> Apr 12, 2023</a></li>
                </ul>
            </div>
            <div class="bottom-content">
                <p class="price">Starting Price: <span>KES 29,500,000</span></p>
                <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
            </div>
        </div>
    </div>-->
                                    <!-- End Single Grid -->
                                    <!--</div>
    <div class="col-lg-6 col-md-6 col-12">-->
                                    <!-- Start Single Grid -->
                                    <!--<div class="single-grid wow fadeInUp" data-wow-delay=".4s">
        <div class="image">
            <a href="item-details.html" class="thumbnail"><img src="~/Content/images/cars/Volvov60.jpg" alt="#"></a>
            <div class="author">
                <div class="author-image">
                    <a href="javascript:void(0)">
                        <img src="https://via.placeholder.com/100x100" alt="#">
                        <span>Thomas Deco</span>
                    </a>
                </div>
                <p class="sale">Rental</p>
            </div>
            <p class="item-position"><i class="lni lni-bolt"></i> Featured</p>
        </div>
        <div class="content">
            <div class="top-content">
                <a href="javascript:void(0)" class="tag">Lightly used</a>
                <h3 class="title">
                    <a href="item-details.html">2020 Volvo V60 T8 Polestar</a>
                </h3>
                <p class="update-time">Last Updated: 5 hours ago</p>
                <ul class="rating">
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><a href="javascript:void(0)">(35)</a></li>
                </ul>
                <ul class="info-list">
                    <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> Nakuru, KE</a></li>
                    <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> May 25, 2023</a></li>
                </ul>
            </div>
            <div class="bottom-content">
                <p class="price">Starts From: <span>KES 8,500,000</span></p>
                <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
            </div>
        </div>
    </div>-->
                                    <!-- End Single Grid -->
                                    <!--</div>
    <div class="col-lg-6 col-md-6 col-12">-->
                                    <!-- Start Single Grid -->
                                    <!--<div class="single-grid wow fadeInUp" data-wow-delay=".6s">
        <div class="image">
            <a href="item-details.html" class="thumbnail"><img src="~/Content/images/cars/panamera.jpeg" alt="#"></a>
            <div class="author">
                <div class="author-image">
                    <a href="javascript:void(0)">
                        <img src="https://via.placeholder.com/100x100" alt="#">
                        <span>Jonson Kuria</span>
                    </a>
                </div>
                <p class="sale">For Sale</p>
            </div>
        </div>
        <div class="content">
            <div class="top-content">
                <a href="javascript:void(0)" class="tag">On Sale</a>
                <h3 class="title">
                    <a href="item-details.html">2023 Porsche Panamera 4S E hybrid</a>
                </h3>
                <p class="update-time">Last Updated: 7 hours ago</p>
                <ul class="rating">
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><i class="lni lni-star-filled"></i></li>
                    <li><a href="javascript:void(0)">(20)</a></li>
                </ul>
                <ul class="info-list">
                    <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> Nairobi, KE</a></li>
                    <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> Feb 18, 2023</a></li>
                </ul>
            </div>
            <div class="bottom-content">
                <p class="price">Starting Price: <span>KES 23,450,000</span></p>
                <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
            </div>
        </div>
    </div>-->
                                    <!-- End Single Grid -->
                                    <!--</div>
    </div>
    <div class="row">
        <div class="col-12">-->
                                    <!-- Pagination -->
                                    <!--<div class="pagination left">
        <ul class="pagination-list">
            <li><a href="javascript:void(0)">1</a></li>
            <li class="active"><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)"><i class="lni lni-chevron-right"></i></a></li>
        </ul>
    </div>-->
                                    <!--/ End Pagination -->
                                    <!--</div>
                </div>
            </div>
        </div>
    </section>-->
                                    <!-- /End Items Grid Area -->
                                    @* Start Items Grid Area*@
                                    <section class="items-grid">
                                        <div class="container">
                                            @*<div class="single-head">
                                                <div class="row" data-masonry='{"percentPosition": true }'>
                                                    <div class="col-lg-6 col-md-6 col-12">
                                                        Start Single Grid*@

                                                        @*<div class="single-grid wow fadeInUp" data-wow-delay=".2s">
                        <div class="image">
                            <a href="item-details.html" class="thumbnail"><img src="~/Content/images/cars/Bentley.jpg" alt="#"></a>
                            <div class="author">
                                <div class="author-image">
                                    <a href="javascript:void(0)">
                                        <img src="https://via.placeholder.com/100x100" alt="#">
                                        <span>Juma Mwanza</span>
                                    </a>
                                </div>
                                <p class="sale">For Sale</p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="top-content">
                                <a href="javascript:void(0)" class="tag">New, Assembled locally</a>
                                <h3 class="title">
                                    <a href="item-details.html">2022 Bentley Bentayga</a>
                                </h3>
                                <p class="update-time">Last Updated: 4 hours ago</p>
                                <ul class="rating">
                                    <li><i class="lni lni-star-filled"></i></li>
                                    <li><i class="lni lni-star-filled"></i></li>
                                    <li><i class="lni lni-star-filled"></i></li>
                                    <li><i class="lni lni-star-filled"></i></li>
                                    <li><i class="lni lni-star-filled"></i></li>
                                    <li><a href="javascript:void(0)">(35)</a></li>
                                </ul>
                                <ul class="info-list">
                                    <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> Mombasa, KE</a></li>
                                    <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> Apr 12, 2023</a></li>
                                </ul>
                            </div>
                            <div class="bottom-content">
                                <p class="price">Starting Price: <span>KES 9,500,000</span></p>
                                <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
                                                       
                                                            <div class="single-head">
                                                                <div class="row" data-masonry='{"percentPosition": true }'>
                                                                    @foreach (var item in Model)
                                                                    {
                                                                        <div class="col-lg-6 col-md-4 col-12">
                                                                            <div class="single-grid wow fadeInUp" data-wow-delay=".2s">
                                                                                <div class="image">
                                                                                    <a href="~/CarDetails/ItemDetails" class="thumbnail"><img src="@Url.Content("~/Content/images/cars/e63s.jpg")" alt="#"></a>
                                                                                    <div class="author">
                                                                                        <div class="author-image">
                                                                                            <a href="javascript:void(0)">
                                                                                                <img src="https://via.placeholder.com/100x100" alt="#">
                                                                                                <span>@item.Model</span>
                                                                                            </a>
                                                                                        </div>
                                                                                        <p class="sale">@item.Category</p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="content">
                                                                                    <div class="top-content">
                                                                                        <a href="javascript:void(0)" class="tag">Car Auction</a>
                                                                                        <h3 class="title">
                                                                                            @*<a href="~/CarDetails/ItemDetails">@item.YOM @item.Make @item.Model</a>*@
                                                                                            @*<a href="@Url.Action("~/CarDetails/ItemDetails", new { id = @item.CarID })">@item.YOM @item.Make @item.Model</a>*@
                                                                                            <a href="@Url.Action("ItemDetails", "CarDetails", new { id = item.CarID })">@item.YOM @item.Make @item.Model</a>

                                                                                        </h3>
                                                                                        <p class="update-time">Last Updated: @item.UploadDate</p>
                                                                                        <ul class="rating">
                                                                                            @for (int i = 0; i < 5; i++)
                                                                                            {
                                                                                                <li><i class="lni lni-star-filled"></i></li>
                                                                                            }
                                                                                            <li><a href="javascript:void(0)">@item.Miles</a></li>
                                                                                        </ul>
                                                                                        <ul class="info-list">
                                                                                            <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> @item.CarLocation</a></li>
                                                                                            <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> @item.UploadDate</a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <div class="bottom-content">
                                                                                        <p class="price">Current Bid: <span>@item.Price</span></p>
                                                                                        <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <!-- End Single Grid -->
                                                                        </div>
                                                                    
                                                                        }
                                                                    </div>
                                                            </div>
                                                        
                                                    </div>

                                    </section>
                                </div>
                                <div class="tab-pane fade" id="nav-list" role="tabpanel"
                                     aria-labelledby="nav-list-tab">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <!-- Start Single Item -->
                                            <div class="single-item-grid">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-5 col-md-7 col-12">
                                                        <div class="image">
                                                            <a href="item-details.html"><img src="~/Content/images/cars/Bentley.jpg" alt="#"></a>
                                                            <i class=" cross-badge lni lni-bolt"></i>
                                                            <span class="flat-badge sale">For Sale</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 col-md-5 col-12">
                                                        <div class="content">
                                                            <a href="javascript:void(0)" class="tag">New, Assembled Locally</a>
                                                            <h3 class="title">
                                                                <a href="item-details.html">2022 Bentley Bentayga</a>
                                                            </h3>
                                                            <p class="location">
                                                                <a href="javascript:void(0)">
                                                                    <i class="lni lni-map-marker">
                                                                    </i>Mombasa, Kenya
                                                                </a>
                                                            </p>
                                                            <ul class="info">
                                                                <li class="price">Ksh.58,000,000</li>
                                                                <li class="like">
                                                                    <a href="javascript:void(0)">
                                                                        <i class="lni lni-heart"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Single Item -->
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <!-- Start Single Item -->
                                            <div class="single-item-grid">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-5 col-md-7 col-12">
                                                        <div class="image">
                                                            <a href="item-details.html"><img src="~/Content/images/cars/X5M.jpg" alt="#"></a>
                                                            <i class=" cross-badge lni lni-bolt"></i>
                                                            <span class="flat-badge rent">Rental</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 col-md-5 col-12">
                                                        <div class="content">
                                                            <a href="javascript:void(0)" class="tag">Rental Cars</a>
                                                            <h3 class="title">
                                                                <a href="item-details.html">2021 BMW X5 M Competitiona</a>
                                                            </h3>
                                                            <p class="location">
                                                                <a href="javascript:void(0)">
                                                                    <i class="lni lni-map-marker">
                                                                    </i> Nakuru, KE
                                                                </a>
                                                            </p>
                                                            <ul class="info">
                                                                <li class="price">Ksh.58,000,000</li>
                                                                <li class="like">
                                                                    <a href="javascript:void(0)">
                                                                        <i class="lni lni-heart"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Single Item -->
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <!-- Start Single Item -->
                                            <div class="single-item-grid">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-5 col-md-7 col-12">
                                                        <div class="image">
                                                            <a href="item-details.html"><img src="~/Content/images/cars/landrover.jpg" alt="#"></a>
                                                            <i class=" cross-badge lni lni-bolt"></i>
                                                            <span class="flat-badge sale">For Sale</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 col-md-5 col-12">
                                                        <div class="content">
                                                            <a href="javascript:void(0)" class="tag">On Sale</a>
                                                            <h3 class="title">
                                                                <a href="item-details.html">2022 Range Rover Autobiography</a>
                                                            </h3>
                                                            <p class="location">
                                                                <a href="javascript:void(0)">
                                                                    <i class="lni lni-map-marker">
                                                                    </i>Nairobi, KE
                                                                </a>
                                                            </p>
                                                            <ul class="info">
                                                                <li class="price">Ksh.44,000,000</li>
                                                                <li class="like">
                                                                    <a href="javascript:void(0)">
                                                                        <i class="lni lni-heart"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Single Item -->
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <!-- Start Single Item -->
                                            <div class="single-item-grid">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-5 col-md-7 col-12">
                                                        <div class="image">
                                                            <a href="item-details.html"><img src="~/Content/images/cars/m8gc.jpg" alt="#"></a>
                                                            <i class=" cross-badge lni lni-bolt"></i>
                                                            <span class="flat-badge sale">For Sale</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 col-md-5 col-12">
                                                        <div class="content">
                                                            <a href="javascript:void(0)" class="tag">New, Assembled locally</a>
                                                            <h3 class="title">
                                                                <a href="item-details.html">2022 BMW M8 Competition Gran Coupe</a>
                                                            </h3>
                                                            <p class="location">
                                                                <a href="javascript:void(0)">
                                                                    <i class="lni lni-map-marker">
                                                                    </i>Mombasa, KE
                                                                </a>
                                                            </p>
                                                            <ul class="info">
                                                                <p class="price">Starting Price: <span>KES 29,500,000</span></p>
                                                                <li class="like">
                                                                    <a href="javascript:void(0)">
                                                                        <i class="lni lni-heart"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Single Item -->
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <!-- Start Single Item -->
                                            <div class="single-item-grid">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-5 col-md-7 col-12">
                                                        <div class="image">
                                                            <a href="item-details.html"><img src="~/Content/images/cars/volvov60.jpg" alt="#"></a>
                                                            <i class=" cross-badge lni lni-bolt"></i>
                                                            <span class="flat-badge rent">Rental</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 col-md-5 col-12">
                                                        <div class="content">
                                                            <a href="javascript:void(0)" class="tag">Lightly used</a>
                                                            <h3 class="title">
                                                                <a href="item-details.html">2020 Volvo V60 T8 Polestar</a>
                                                            </h3>
                                                            <p class="location">
                                                                <a href="javascript:void(0)">
                                                                    <i class="lni lni-map-marker">
                                                                    </i>Nakuru, KE
                                                                </a>
                                                            </p>
                                                            <ul class="info">
                                                                <p class="price">Starts From: <span>KES 8,500,000</span></p>
                                                                <li class="like">
                                                                    <a href="javascript:void(0)">
                                                                        <i class="lni lni-heart"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Single Item -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- Pagination -->
                                            <div class="pagination left">
                                                <ul class="pagination-list">
                                                    <li><a href="javascript:void(0)">1</a></li>
                                                    <li class="active"><a href="javascript:void(0)">2</a></li>
                                                    <li><a href="javascript:void(0)">3</a></li>
                                                    <li><a href="javascript:void(0)">4</a></li>
                                                    <li><a href="javascript:void(0)"><i class="lni lni-chevron-right"></i></a></li>
                                                </ul>
                                            </div>
                                            <!--/ End Pagination -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Search Content -->