
@{
    ViewBag.Title = "Home";
}
@*@model BidMyCar.Models.CarDetail*@
<div class="position-fixed top-140 start-50 translate-middle-x p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="100000">
        <div class="d-flex">
            <div class="toast-body">
                Kindly reload to apply <span id="currentTheme"></span> theme.
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<!-- End Theme Alert -->
<!-- Start Hero Area -->
<section class="hero-area overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <div class="hero-text text-center">
                    <!-- Start Hero Text -->
                    <div class="section-heading pt-30">
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">Welcome to Bid My Car</h2>
                        <p class="wow fadeInUp" data-wow-delay=".5s">Kenya's No.1 Car Marketplace<br>Sell, Buy, Auction, Get Advice and more </p>
                    </div>
                    <!-- End Search Form -->
                    <!-- Start Search Form -->
                    @using (Html.BeginForm("SearchItems", "CarDetails", FormMethod.Get))
                    {
                        <div class="search-form wow fadeInUp" data-wow-delay=".7s">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-12 p-0">
                                    <div class="search-input">
                                        <label for="keywords">
                                            <i class="lni lni-calendar theme-color"></i>
                                        </label>
                                        @*<input type="text" name="keyword" id="keyword" placeholder="YOM">*@
                                        <input type="text" name="searchModel.YOM" id="searchModel_YOM" class="form-control" placeholder="YOM">

                                        @*@Html.TextBoxFor(m => m.searchModel.YOM, new { @class = "form-control", placeholder = "YOM" })*@

                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-2 col-12 p-0">
                                    <div class="search-input">
                                        <label for="category">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                                                <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z" />
                                                <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z" />
                                            </svg>
                                        </label>
                                        @*<select name="category" id="category">
                                                <option value="none" selected disabled>Make</option>
                                                <option value="">All</option>
                                                <option value="acura">Acura</option>
                                                <option value="alfa-romeo">Alfa Romeo</option>
                                                <option value="am-general">AM General</option>
                                                <option value="aston-martin">Aston Martin</option>
                                                <option value="audi">Audi</option>
                                                <option value="bentley">Bentley</option>
                                                <option value="bmw">BMW</option>
                                                <option value="buick">Buick</option>
                                                <option value="cadillac">Cadillac</option>
                                                <option value="chevrolet">Chevrolet</option>
                                                <option value="chrysler">Chrysler</option>
                                                <option value="dodge">Dodge</option>
                                                <option value="ferrari">Ferrari</option>
                                                <option value="fiat">FIAT</option>
                                                <option value="fisker">Fisker</option>
                                                <option value="ford">Ford</option>
                                                <option value="freightliner">Freightliner</option>
                                                <option value="genesis">Genesis</option>
                                                <option value="gmc">GMC</option>
                                                <option value="honda">Honda</option>
                                                <option value="hummer">HUMMER</option>
                                                <option value="hyundai">Hyundai</option>
                                                <option value="infiniti">INFINITI</option>
                                                <option value="isuzu">Isuzu</option>
                                                <option value="jaguar">Jaguar</option>
                                                <option value="jeep">Jeep</option>
                                                <option value="karma">Karma</option>
                                                <option value="kia">Kia</option>
                                                <option value="lamborghini">Lamborghini</option>
                                                <option value="land-rover">Land Rover</option>
                                                <option value="lexus">Lexus</option>
                                                <option value="lincoln">Lincoln</option>
                                                <option value="lotus">Lotus</option>
                                                <option value="lucid">Lucid</option>
                                                <option value="maserati">Maserati</option>
                                                <option value="maybach">Maybach</option>
                                                <option value="mazda">Mazda</option>
                                                <option value="mclaren">McLaren</option>
                                                <option value="mercedes-benz">Mercedes-Benz</option>
                                                <option value="mercury">Mercury</option>
                                                <option value="mini">MINI</option>
                                                <option value="mitsubishi">Mitsubishi</option>
                                                <option value="nissan">Nissan</option>
                                                <option value="oldsmobile">Oldsmobile</option>
                                                <option value="plymouth">Plymouth</option>
                                                <option value="polestar">Polestar</option>
                                                <option value="pontiac">Pontiac</option>
                                                <option value="porsche">Porsche</option>
                                                <option value="ram">Ram</option>
                                                <option value="rivian">Rivian</option>
                                                <option value="rolls-royce">Rolls-Royce</option>
                                                <option value="saab">Saab</option>
                                                <option value="saturn">Saturn</option>
                                                <option value="scion">Scion</option>
                                                <option value="smart">smart</option>
                                                <option value="subaru">Subaru</option>
                                                <option value="suzuki">Suzuki</option>
                                                <option value="tesla">Tesla</option>
                                                <option value="toyota">Toyota</option>
                                                <option value="volkswagen">Volkswagen</option>
                                                <option value="volvo">Volvo</option>


                                            </select>
                                            <input type="text" name="searchModel.Make" id="searchModel_Make" class="form-control" placeholder="Make">*@
                                        <select name="searchModel.Make" id="searchModel_Make" class="form-control">
                                            <option value="none" selected disabled>Make</option>
                                            <option value="">All</option>
                                            <option value="Acura">Acura</option>
                                            <option value="Alfa Romeo">Alfa Romeo</option>
                                            <option value="AM General">AM General</option>
                                            <option value="Aston Martin">Aston Martin</option>
                                            <option value="Audi">Audi</option>
                                            <option value="Bentley">Bentley</option>
                                            <option value="BMW">BMW</option>
                                            <option value="Buick">Buick</option>
                                            <option value="Cadillac">Cadillac</option>
                                            <option value="Chevrolet">Chevrolet</option>
                                            <option value="Chrysler">Chrysler</option>
                                            <option value="Dodge">Dodge</option>
                                            <option value="Ferrari">Ferrari</option>
                                            <option value="FIAT">FIAT</option>
                                            <option value="Fisker">Fisker</option>
                                            <option value="Ford">Ford</option>
                                            <option value="Freightliner">Freightliner</option>
                                            <option value="Genesis">Genesis</option>
                                            <option value="GMC">GMC</option>
                                            <option value="Honda">Honda</option>
                                            <option value="HUMMER">HUMMER</option>
                                            <option value="Hyundai">Hyundai</option>
                                            <option value="INFINITI">INFINITI</option>
                                            <option value="Isuzu">Isuzu</option>
                                            <option value="Jaguar">Jaguar</option>
                                            <option value="Jeep">Jeep</option>
                                            <option value="Karma">Karma</option>
                                            <option value="Kia">Kia</option>
                                            <option value="Lamborghini">Lamborghini</option>
                                            <option value="Land Rover">Land Rover</option>
                                            <option value="Lexus">Lexus</option>
                                            <option value="Lincoln">Lincoln</option>
                                            <option value="Lotus">Lotus</option>
                                            <option value="Lucid">Lucid</option>
                                            <option value="Maserati">Maserati</option>
                                            <option value="Maybach">Maybach</option>
                                            <option value="Mazda">Mazda</option>
                                            <option value="McLaren">McLaren</option>
                                            <option value="Mercedes">Mercedes-Benz</option>
                                            <option value="Mercury">Mercury</option>
                                            <option value="MINI">MINI</option>
                                            <option value="Mitsubishi">Mitsubishi</option>
                                            <option value="Nissan">Nissan</option>
                                            <option value="Oldsmobile">Oldsmobile</option>
                                            <option value="Plymouth">Plymouth</option>
                                            <option value="Polestar">Polestar</option>
                                            <option value="Pontiac">Pontiac</option>
                                            <option value="Porsche">Porsche</option>
                                            <option value="Ram">Ram</option>
                                            <option value="Rivian">Rivian</option>
                                            <option value="Rolls-Royce">Rolls-Royce</option>
                                            <option value="Saab">Saab</option>
                                            <option value="Saturn">Saturn</option>
                                            <option value="Scion">Scion</option>
                                            <option value="Smart">Smart</option>
                                            <option value="Subaru">Subaru</option>
                                            <option value="Suzuki">Suzuki</option>
                                            <option value="Tesla">Tesla</option>
                                            <option value="Toyota">Toyota</option>
                                            <option value="Volkswagen">Volkswagen</option>
                                            <option value="Volvo">Volvo</option>



                                        </select>

                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12 p-0">
                                    <div class="search-input">
                                        <label for="category">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
                                                <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
                                                <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
                                            </svg>
                                        </label>
                                        <select name="searchModel.Model" id="searchModel_Model" class="form-control">

                                            <option value="none" selected disabled>Model</option>
                                            <option value="">All</option>
                                            <option value="1-series">1 Series</option>
                                            <option value="1-series-m">1 Series M</option>
                                            <option value="2-series">2 Series</option>
                                            <option value="3-series">3 Series</option>
                                            <option value="4-series">4 Series</option>
                                            <option value="5-series">5 Series</option>
                                            <option value="6-series">6 Series</option>
                                            <option value="7-series">7 Series</option>
                                            <option value="8-series">8 Series</option>
                                            <option value="i3">i3</option>
                                            <option value="i4">i4</option>
                                            <option value="i7">i7</option>
                                            <option value="i8">i8</option>
                                            <option value="ix">iX</option>
                                            <option value="m2">M2</option>
                                            <option value="m3">M3</option>
                                            <option value="m4">M4</option>
                                            <option value="m5">M5</option>
                                            <option value="m6">M6</option>
                                            <option value="m8">M8</option>
                                            <option value="x1">X1</option>
                                            <option value="x2">X2</option>
                                            <option value="x3">X3</option>
                                            <option value="x3-m">X3 M</option>
                                            <option value="x4">X4</option>
                                            <option value="x4-m">X4 M</option>
                                            <option value="x5">X5</option>
                                            <option value="x5-m">X5 M</option>
                                            <option value="x6">X6</option>
                                            <option value="x6-m">X6 M</option>
                                            <option value="x7">X7</option>
                                            <option value="z3">Z3</option>
                                            <option value="z4">Z4</option>
                                            <option value="z8">Z8</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12 p-0">
                                    <div class="search-input">
                                        <label for="location">
                                            <i class="lni lni-car theme-color"></i>
                                        </label>
                                        <select name="searchModel.BodyType" id="searchModel_BodyType" class="form-control">

                                            <option value="none" selected disabled>Body Style</option>
                                            <option value="">All</option>
                                            <option value="Convertible">Convertible</option>
                                            <option value="Coupe">Coupe</option>
                                            <option value="Hatchback">Hatchback</option>
                                            <option value="Sedan">Sedan</option>
                                            <option value="SUV">SUV</option>
                                            <option value="Truck">Truck</option>
                                            <option value="Van">Van</option>
                                            <option value="Wagon">Wagon</option>
                                            <option value="Unknown">Unknown</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12 p-0">
                                    @*<div class="search-btn button">
                                            <button id="search" class="btn"><i class="lni lni-search-alt"></i> Search</button>

                                        </div>*@
                                    <div class="search-btn button">
                                        <button class="btn" onclick="redirectToCarDetails()"><i class="lni lni-search-alt"></i> Search</button>
                                    </div>

                                    <script>
                                        function redirectToCarDetails() {
                                        var url = '@Url.Content("~/CarDetails/SearchItems")';
                                        window.location.href = url;
                                        }
                                    </script>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- End Search Form -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Area -->
<!-- Start Categories Area -->
<section class="categories">
    <div class="container">
        <div class="cat-inner">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="category-slider">
                        <!-- Start Single Category -->
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="~/Content/images/carlogos/subaru.svg" alt="#">
                            </div>

                            <h3>Subaru</h3>
                            <h5 class="total"><i class="lni lni-car mr"></i>35</h5>
                        </a>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="~/Content/images/carlogos/bmw.svg" alt="#">
                            </div>
                            <h3>BMW</h3>
                            <h5 class="total"><i class="lni lni-car mr"></i>22</h5>
                        </a>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="~/Content/images/carlogos/mercedes.svg" alt="#">
                            </div>
                            <h3>Mercedes</h3>
                            <h5 class="total"><i class="lni lni-car mr"></i>55</h5>
                        </a>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="~/Content/images/carlogos/audi.svg" alt="#">
                            </div>
                            <h3>Audi</h3>
                            <h5 class="total"><i class="lni lni-car mr"></i>21</h5>
                        </a>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="~/Content/images/carlogos/mitsubishi.svg" alt="#">
                            </div>
                            <h3>Mitsubishi</h3>
                            <h5 class="total"><i class="lni lni-car mr"></i>44</h5>
                        </a>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="~/Content/images/carlogos/porsche.svg" alt="#">
                            </div>
                            <h3>Porsche</h3>
                            <h5 class="total"><i class="lni lni-car mr"></i>65</h5>
                        </a>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="~/Content/images/carlogos/bentley.svg" alt="#">
                            </div>
                            <h3>Bentley</h3>
                            <h5 class="total"><i class="lni lni-car mr"></i>35</h5>
                        </a>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="~/Content/images/carlogos/ford.svg" alt="#">
                            </div>
                            <h3>Ford</h3>
                            <h5 class="total"><i class="lni lni-car mr"></i>22</h5>
                        </a>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="~/Content/images/carlogos/toyota.svg" alt="#">
                            </div>
                            <h3>Toyota</h3>
                            <h5 class="total"><i class="lni lni-car mr"></i>25</h5>
                        </a>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="~/Content/images/carlogos/mazda.svg" alt="#">
                            </div>
                            <h3>Mazda</h3>
                            <h5 class="total"><i class="lni lni-car mr"></i>42</h5>
                        </a>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="~/Content/images/carlogos/nissan.svg" alt="#">
                            </div>
                            <h3>Nissan</h3>
                            <h5 class="total"><i class="lni lni-car mr"></i>0</h5>
                        </a>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="~/Content/images/carlogos/landrover.svg" alt="#">
                            </div>
                            <h3>Land Rover</h3>
                            <h5 class="total"><i class="lni lni-car mr"></i>15</h5>
                        </a>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <a href="#" class="single-cat">
                            <div class="icon">
                                <img src="~/Content/images/carlogos/isuzu.svg" alt="#">
                            </div>
                            <h3>Isuzu</h3>
                            <h5 class="total"><i class="lni lni-car mr"></i>65</h5>
                        </a>
                        <!-- End Single Category -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /End Categories Area -->
<!-- Start Items Grid Area -->
<section class="items-grid section custom-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Newly Listed</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">
                        There are many variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.
                    </p>

                </div>
            </div>
        </div>

        <!-- Start Single Grid -->
        <!--<div class="single-grid wow fadeInUp" data-wow-delay=".2s">
            <div class="image">
                <a href="~/CarDetails/ItemDetails" class="thumbnail"><img src="~/Content/images/cars/e63s.jpg" alt="#"></a>
                <div class="author">
                    <div class="author-image">
                        <a href="javascript:void(0)">
                            <img src="https://via.placeholder.com/100x100" alt="#">
                            <span>James Kamau</span>
                        </a>
                    </div>
                    <p class="sale">On auction</p>
                </div>
            </div>
            <div class="content">
                <div class="top-content">
                    <a href="javascript:void(0)" class="tag">Car Auction</a>
                    <h3 class="title">
                        <a href="~/CarDetails/ItemDetails">2018 Mercedes E63s AMG 4MATIC+</a>
                    </h3>
                    <p class="update-time">Last Updated: 2 mins ago</p>
                    <ul class="rating">
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><a href="javascript:void(0)">(35)</a></li>
                    </ul>
                    <ul class="info-list">
                        <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> Nairobi, KE</a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-timer"></i>1 day</a></li>
                    </ul>
                </div>
                <div class="bottom-content">
                    <p class="price">Current Bid: <span>KES 4,556,000</span></p>
                    <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
                </div>
            </div>
        </div>-->
        <!-- End Single Grid -->
        <!--</div>
        <div class="col-lg-4 col-md-6 col-12">-->
        <!-- Start Single Grid -->
        <!--<div class="single-grid wow fadeInUp" data-wow-delay=".4s">
            <div class="image">
                <a href="~/CarDetails/ItemDetails" class="thumbnail"><img src="~/Content/images/cars/Macan1.jpg" alt="#"></a>
                <div class="author">
                    <div class="author-image">
                        <a href="javascript:void(0)">
                            <img src="https://via.placeholder.com/100x100" alt="#">
                            <span>Alex Njui</span>
                        </a>
                    </div>
                    <p class="sale">For Sale</p>
                </div>
            </div>
            <div class="content">
                <div class="top-content">
                    <a href="javascript:void(0)" class="tag">Brand New</a>
                    <h3 class="title">
                        <a href="~/CarDetails/ItemDetails">Porsche Macan GTS</a>
                    </h3>
                    <p class="update-time">Last Updated: 2 hours ago</p>
                    <ul class="rating">
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><a href="javascript:void(0)">(20)</a></li>
                    </ul>
                    <ul class="info-list">
                        <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> Along Ngong. Rd, Nairobi</a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> Jan 7, 2023</a></li>
                    </ul>
                </div>
                <div class="bottom-content">
                    <p class="price">Starting Price: <span>KES 10,000,000</span></p>
                    <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
                </div>
            </div>
        </div>-->
        <!-- End Single Grid -->
        <!--</div>
        <div class="col-lg-4 col-md-6 col-12">-->
        <!-- Start Single Grid -->
        <!--<div class="single-grid wow fadeInUp" data-wow-delay=".6s">
            <div class="image">
                <a href="~/CarDetails/ItemDetails" class="thumbnail"><img src="~/Content/images/cars/RS6.jpg" alt="#"></a>
                <div class="author">
                    <div class="author-image">
                        <a href="javascript:void(0)">
                            <img src="https://via.placeholder.com/100x100" alt="#">
                            <span>Imports by Kairo</span>
                        </a>
                    </div>
                    <p class="sale">For Sale</p>
                </div>
                <p class="item-position"><i class="lni lni-bolt"></i> Featured</p>
            </div>
            <div class="content">
                <div class="top-content">
                    <a href="javascript:void(0)" class="tag">New Used</a>
                    <h3 class="title">
                        <a href="~/CarDetails/ItemDetails">Audi RS6 Avant Vorsprung</a>
                    </h3>
                    <p class="update-time">Last Updated: 3 hours ago</p>
                    <ul class="rating">
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><a href="javascript:void(0)">(55)</a></li>
                    </ul>
                    <ul class="info-list">
                        <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> Nairobi, KE</a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> Mar 18, 2023</a></li>
                    </ul>
                </div>
                <div class="bottom-content">
                    <p class="price">Starting Price: <span>KES 23,540,000</span></p>
                    <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
                </div>
            </div>
        </div>-->
        <!-- End Single Grid -->
        <!--</div>
        <div class="col-lg-4 col-md-6 col-12">-->
        <!-- Start Single Grid -->
        <!--<div class="single-grid wow fadeInUp" data-wow-delay=".2s">
            <div class="image">
                <a href="~/CarDetails/ItemDetails" class="thumbnail"><img src="~/Content/images/cars/Bentley.jpg" alt="#"></a>
                <div class="author">
                    <div class="author-image">
                        <a href="javascript:void(0)">
                            <img src="https://via.placeholder.com/100x100" alt="#">
                            <span>Juma Mwanza</span>
                        </a>
                    </div>
                    <p class="sale">For Sale</p>
                </div>
            </div>
            <div class="content">
                <div class="top-content">
                    <a href="javascript:void(0)" class="tag">New, Assembled locally</a>
                    <h3 class="title">
                        <a href="~/CarDetails/ItemDetails">2022 Bentley Bentayga</a>
                    </h3>
                    <p class="update-time">Last Updated: 4 hours ago</p>
                    <ul class="rating">
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><a href="javascript:void(0)">(35)</a></li>
                    </ul>
                    <ul class="info-list">
                        <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> Mombasa, KE</a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> Apr 12, 2023</a></li>
                    </ul>
                </div>
                <div class="bottom-content">
                    <p class="price">Starting Price: <span>KES 9,500,000</span></p>
                    <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
                </div>
            </div>
        </div>-->
        <!-- End Single Grid -->
        <!--</div>
        <div class="col-lg-4 col-md-6 col-12">-->
        <!-- Start Single Grid -->
        <!--<div class="single-grid wow fadeInUp" data-wow-delay=".4s">
            <div class="image">
                <a href="~/CarDetails/ItemDetails" class="thumbnail"><img src="~/Content/images/cars/X5M.jpg" alt="#"></a>
                <div class="author">
                    <div class="author-image">
                        <a href="javascript:void(0)">
                            <img src="https://via.placeholder.com/100x100" alt="#">
                            <span>Thomas Deco</span>
                        </a>
                    </div>
                    <p class="sale">Rental</p>
                </div>
                <p class="item-position"><i class="lni lni-bolt"></i> Featured</p>
            </div>
            <div class="content">
                <div class="top-content">
                    <a href="javascript:void(0)" class="tag">Rental Cars</a>
                    <h3 class="title">
                        <a href="~/CarDetails/ItemDetails">2021 BMW X5 M Competition</a>
                    </h3>
                    <p class="update-time">Last Updated: 5 hours ago</p>
                    <ul class="rating">
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><a href="javascript:void(0)">(35)</a></li>
                    </ul>
                    <ul class="info-list">
                        <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> Nakuru, KE</a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> May 25, 2023</a></li>
                    </ul>
                </div>
                <div class="bottom-content">
                    <p class="price">Starts From: <span>KES 5,000/day</span></p>
                    <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
                </div>
            </div>
        </div>-->
        <!-- End Single Grid -->
        <!--</div>
        <div class="col-lg-4 col-md-6 col-12">-->
        <!-- Start Single Grid -->
        <!--<div class="single-grid wow fadeInUp" data-wow-delay=".6s">
            <div class="image">
                <a href="~/CarDetails/ItemDetails" class="thumbnail"><img src="~/Content/images/cars/landrover.jpg" alt="#"></a>
                <div class="author">
                    <div class="author-image">
                        <a href="javascript:void(0)">
                            <img src="https://via.placeholder.com/100x100" alt="#">
                            <span>Jonson Kuria</span>
                        </a>
                    </div>
                    <p class="sale">For Sale</p>
                </div>
            </div>
            <div class="content">
                <div class="top-content">
                    <a href="javascript:void(0)" class="tag">On Sale</a>
                    <h3 class="title">
                        <a href="~/CarDetails/ItemDetails">2022 Range Rover Autobiography</a>
                    </h3>
                    <p class="update-time">Last Updated: 7 hours ago</p>
                    <ul class="rating">
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><a href="javascript:void(0)">(20)</a></li>
                    </ul>
                    <ul class="info-list">
                        <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> Nairobi, KE</a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> Feb 18, 2023</a></li>
                    </ul>
                </div>
                <div class="bottom-content">
                    <p class="price">Starting Price: <span>KES 3,450,000</span></p>
                    <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
                </div>
            </div>
        </div>-->

        <div class="single-head">
            <div class="row" data-masonry='{"percentPosition": true }'>
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-grid wow fadeInUp" data-wow-delay=".2s">
                            <div class="image">
                                <a href="~/CarDetails/ItemDetails" class="thumbnail"><img src="@Url.Content("~/Content/images/cars/e63s.jpg")" alt="#"></a>
                                <div class="author">
                                    <div class="author-image">
                                        <a href="javascript:void(0)">
                                            <img src="https://via.placeholder.com/100x100" alt="#">
                                            <span>@item.Model</span>
                                        </a>
                                    </div>
                                    <p class="sale">@item.Category</p>
                                </div>
                            </div>
                            <div class="content">
                                <div class="top-content">
                                    <a href="javascript:void(0)" class="tag">Car Auction</a>
                                    <h3 class="title">
                                        @*<a href="~/CarDetails/ItemDetails">@item.YOM @item.Make @item.Model</a>*@
                                        @*<a href="@Url.Action("~/CarDetails/ItemDetails", new { id = @item.CarID })">@item.YOM @item.Make @item.Model</a>*@
                                        <a href="@Url.Action("ItemDetails", "CarDetails", new { id = item.CarID })">@item.YOM @item.Make</a>

                                    </h3>
                                    <p class="update-time">Last Updated: @item.UploadDate</p>
                                    <ul class="rating">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            <li><i class="lni lni-star-filled"></i></li>
                                        }
                                        <li><a href="javascript:void(0)">@item.Miles</a></li>
                                    </ul>
                                    <ul class="info-list">
                                        <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> @item.CarLocation</a></li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> @item.UploadDate</a></li>
                                    </ul>
                                </div>
                                <div class="bottom-content">
                                    <p class="price">Current Bid: <span>@item.Price</span></p>
                                    <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- End Single Grid -->
                    </div>
                }
            </div>
        </div>

    </div>
</section>
<!-- /End Items Grid Area -->
