@{
    ViewBag.Title = "Login | BidMyCar";
}
@model BidMyCar.Models.UsersInfo
@Html.Raw(ViewBag.InsertMessage)

<!-- start login section -->
<section class="login section pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                <div class="form-head">
                    <h4 class="title">Welcome Back</h4>



                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {

                        if (ViewBag.Loginstatus != null)
                        {
                            if (ViewBag.LoginStatus == 0)
                            {
                                <div class="alert alert-danger">Login Failed!</div>
                            }
                  
                    }

                        @Html.AntiForgeryToken()
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your name" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            <label for="id_email">Username/Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter your name" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <label for="id_password">Password</label>
                        </div>
                        <div class="check-and-pass">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input width-auto"
                                               id="exampleCheck1">
                                        <label class="form-check-label">Remember me</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <a href="/Home/resetPassword" class="lost-pass">Lost your password?</a>
                                </div>
                            </div>
                        </div>
                        <div class="button">
                            <button type="submit" class="btn">Login Now</button>
                        </div>
                        <div class="alt-option">
                            <span>Or</span>
                        </div>
                        <div class="socila-login">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" class="facebook">
                                        <i class="lni lni-facebook-original"></i>Continue with
                                        Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="google"><i class="lni lni-google"></i>Continue with Google</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="apple"><i class="lni lni-apple"></i>Continue with Apple</a>
                                </li>
                            </ul>
                        </div>
                        <p class="outer-link">
                            No account? <a href="/Home/register">Create one</a>
                        </p>
                    }


                </div>
            </div>
        </div>
    </div>
</section>
<!-- end login section -->
