@{
    ViewBag.Title = "Password Reset | BidMyCar";
}
@model BidMyCar.Models.resetPassword
@Html.Raw(ViewBag.InsertMessage)

<!-- start login section -->
<section class="login section pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                <div class="form-head">
                    <h4 class="title">Reset Password</h4>



                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {

                         <div class="text-success">
                             @ViewBag.Message
                         </div>

 

                        @Html.AntiForgeryToken()

                        <div class="form-floating mb-3">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Enter your name" })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            <label for="id_password">Confirm Password</label>
                        </div>

                        <div class="form-floating mb-3">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Enter your name" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            <label for="id_password">Confirm Password</label>
                        </div>

                        <div class="button">
                            <button type="submit" class="btn">Reset Password</button>
                        </div>

                    }


                </div>
            </div>
        </div>
    </div>
</section>
<!-- end login section -->